/***********************************************************************************************
Jennah Gosciak - Personal Website/Portfolio

**********************************************************************************************/

/***********************************************************************************************/
/* TABLE OF CONTENTS: */
/***********************************************************************************************/

/*------------------------------------------------------------------------


  01. Common Styles
  02. Preloader
  03. Navbar
  04. Sections for each page
  05. Responsive Part
--------------------------------------------------------------------------*/



/***********************************************************************************************/
/* =Common Styles */
/***********************************************************************************************/
body {
  font-family: 'Raleway', sans-serif;
  color: #737272;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased;
  padding-top: 68px;
  position: relative;
  height: 100%;
  width: 100%;
}

html, section {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#about-section-bg {
  background-color: black;
  top: -10px;
}

a {
  color: #fc6e51;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.dark-bg {
  background: #34353A;
}

.white-bg {
  background: #fff;
}

.without-padding {
  padding: 0;
}

.marg-0 {
  margin: 0;
}

.pad-b-0 {
  padding-bottom: 0!important;
}

.pad-t-100 {
  padding-top: 100px!important;
}

.bg-gray {
  background: #e5e5e5;
}

.form-control::-moz-placeholder {
  color: #494949;
}
.form-control:-ms-input-placeholder {
  color: #494949;
}
.form-control::-webkit-input-placeholder {
  color: #494949;
}

/***********************************************************************************************/
/* =Typography */
/***********************************************************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: #1f2021;
  text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1, .h1 {
  font-family: 'Abel', sans-serif;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
  margin: 0;
}

.title-section hr {
  width: 15%;
}

.title-section  p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.title-section {
  padding-left: 30px;
  padding-right: 30px;
}

.sep-section {
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
}

/***********************************************************************************************/
/* =Buttons */
/***********************************************************************************************/

.btn {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 14px 25px;
  border-radius: 1px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-xs {
  padding: 5px 14px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-sm {
  padding: 8px 37px;
  font-size: 12px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn-lg {
  padding: 15px 35px;
}

.btn-primary {
  text-transform: uppercase;
  background-color: #fc6e51;
  border-color: #fc6e51;
}

.btn-black {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-black:hover {
  background-color: #fc6e51;
  border-color: #fc6e51;
  color: #fff;
}

.btn-clean {
  border-color: #F5F5F5;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: 0;
}

.btn-clean:hover, .btn-clean:focus, .btn-clean:active {
  color: #fff;
}

.btn-dark {
  color: #FFF;
  text-transform: uppercase;
  background: rgba(34,34,34, .9);
  font-weight: 400;
  border-color: rgba(0,0,0, .7);
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark:visited {
  color: rgba(255,255,255, .85);
  background: rgba(0,0,0, .7);
  outline: 0;
  box-shadow: none;
}

.btn-light {
  background: #f3f3f3;
  color: #000;
}

.call-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 0;
  border: none;
  outline: none;
  display: inline-block;
}

.btn-gray {
  color: #777;
  background: #e5e5e5;
}

/***********************************************************************************************/
/* =Preloader */
/***********************************************************************************************/

#preloader {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

#loading-animation {
  background-image: url("../images/loading.GIF") ;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  border-radius: 4px;
}

/************************************************************************
// =Navbar
*************************************************************************/
.nav-title {
  background: black;
  width: 100%;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 107px;
}

#header-text{
 position: fixed;
 height: 0px;
 max-height: 80px;
 left: 50%;
 width: 450px;
 margin-left: -235px;
 padding-top: 15px;
 padding-bottom: 5px;
 text-align: center;
 display: block;
}

#top-title {
  color: #262626;
  z-index: 1000;
}

#top-title:hover, #top-title:focus  {
  color: red;
  z-index: 100000;
}

.navbar-default {
  position: fixed;
  top: 0;
}

.navbar-nav {
  position: relative;
  left: 50%;
  width: 700px;
  margin-top: 55px;
  margin-left: -340px;
  top: 0px;
  box-sizing: border-box;
  display: block;
}

.navbar-default .navbar-nav > li > a {
  color: #999999;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav >
.active > a:focus {
  background: transparent;
  color: red;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: red;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #fff;
  color: #fc6e51;
}


/***********************************************************************************************/
/* =Hero section */
/***********************************************************************************************/
.contact-row {
  float: left;
  position: relative;
  left: 50%;
}

.col-sm-8 {
  float: left;
  position: relative;
  left: -50%;
  text-align: left;
}

.row {
  position: relative;
  top: 7vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px 20px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px 20px;
  z-index: 10;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  z-index: 10;
}

#hero-section {
  position: relative;
  top: 0px;
}

.home-hero {
  background-size: cover;
}

.bio {
    padding: 0px 0px 0px 0px;
    position: relative;
    content: '';
    top: 50px;
    left: 10px;
    z-index: 1;
    color: "#ffffff";
}

.cell {
    width: auto;
    height: 40%;
    margin: 3% 0%;
}

.cell-2 {
  height: 45%;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.image-text {
  font-size: 18px;
  color: gray;
  text-align: center;
  position: relative;
  top: 0%;
  left: 45%;
}

.image-text:hover {
  color: red;
}

#video-1 {
  float: left;
  padding: 10% 0%;
}

@media screen and (max-width: 800px) {
  .image-text {
    font-size: 10px;
  }

  .cell {
    height: 40%;
  }

  .cell-2 {
    height: 45%;
  }

  #video-1 {
    padding: 10% 0%;
  }
}

@media screen and (max-width: 360px) {
  .image-text {
    font-size: 8px;
  }

  #video-1 {
    padding: 10% 0%;
  }
}

/***********************************************************************************************/
/* Contact section end */
/***********************************************************************************************/
#contact-section {
  position: relative;
  top: 60px;
}

.ev-img {
  position: relative;
  margin: auto;
  width: 50%;
  top: 20px;
  text-align: center;
  display: block;
  z-index: 100;
}

.contact-container {
  position: relative;
  top: 40px;
  left: 50%;
  text-align: left;
  margin-left: -95px;
}

.contact-row > h2 {
  padding: 0px;
  margin: 0px;
}

.contact-row {
  position: relative;
  padding: 0px;
  left: 0px;
  z-index: 100;
  text-align: left;
}

.contact-soc {
  color: red;
}

.soc-2 {
  position: relative;
  top: 20px;
  padding: 0px 0px;
}

.soc-2 > li {
  display: inline;
  padding: 0px 15px 0px 0px;
  vertical-align: middle;
  fill-opacity: 0.5;
}

.soc-2 > li:hover a svg path {
  fill-opacity: 1;
  fill: red;
}

.caption-ev {
  position: relative;
  bottom: -10px;
  text-align: left;
  font-size: 10px;
}

.contact-soc {
  color: black;
}

.contact-soc:hover {
  color: red;
}

/***********************************************************************************************/
/* =Hero about section-2 */
/***********************************************************************************************/
#about-section {
  position: relative;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10%;
  top: 0px;
}

.grid-pos{
    position: relative;
    padding-top: 6%;
}

.about-text, .about-text-3 {
  width: 80%;
  color: white;
  text-align: left;
}

.about-text-cont {
  padding: 10% 0%;
}

.about-image {
  padding: 0 20% 0 20%;
  margin-bottom: 10%;
  width: 130%;
  height: auto;
}

#bio2 {
  height: auto;
}

#current-proj {
  color: black;
  top: 10%;
}

#current-proj:hover {
  color: red;
}

.soc {
  position: relative;
  top: 0;
  padding: 0px 0px;
}

.soc > li {
  display: inline;
  padding: 0px 15px 0px 0px;
  vertical-align: middle;
  fill-opacity: 0.5;
}

.soc > li:hover a svg path {
  fill-opacity: 1;
  fill: red;
}

@media screen and (max-width: 750px) {
  .about-text > p {
    font-size: 80%;
  }

  .about-text {
    position: relative;
    left: 12%;
    padding: 0;
    margin-top: -10%;
  }

  #about-section {
    display: block;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .about-image {
      width: 100%;
  }

  .grid-pos {
    padding-top: 5%;
    padding-bottom: 0;
    margin: 0;
  }

  .about-text-cont{
    top: 60px;
  }

  #current-proj {
    position: relative;
    left: 15%;
    top: 70px;
  }

  .soc {
    position: relative;
    left: 12%;
    top: 30px;
    padding-top: 40px;
    padding-bottom: 0;
  }
}

/***********************************************************************************************/
/* =Research section */
/***********************************************************************************************/
#research-section {
  position: relative;
  top: 0%;
  height: 100vh;
  background-size: cover;
}

.ul-research {
  position: relative;
  top: 40px;
}

.li-research {
  position: relative;
  z-index: 15;
  list-style-type: none;
  padding-top: 20px;
}

#research-section > li > h2 {
  position: relative;
  color: black;
  padding-left: 7.5px;
  left: 7.5px;
  z-index: 12;
}

.research-grid {
  position: relative;
  z-index: 10;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  gap: 40px;
}

.research-img-nyu {
  width: 80%;
  height: auto;
  text-align: center;
  margin: auto;
}

.research-img-furman {
  width: 80%;
  height: auto;
  text-align: center;
  margin: auto;
}

#furman-pic {
  width: 80%;
  border: 1px solid gray;
}

.research-img  {
  width: 100%;
  height: auto;
}

.research-block-1 {
  width: 80%;
  text-align: center;
  margin: auto;
}

.research-grid-2 {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin: auto;
}

.research-grid-2 > *{
  flex: 1 1 300px;
  border: 1px solid gray;
}

.scribd_iframe_embed {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
}

.scribd-text {
  position: relative;
  left: 0px;
  margin-left: 0px;
  padding-left: 0px;
  color: gray
}

.scribd-text:hover {
  color: red
}

.tia-poster {
  border: 1px solid gray;
  width: 100%;
}

/***********************************************************************************************/
/* =Floodplain article */
/***********************************************************************************************/
#floodplain-section {
  position: relative;
  top: 0%;
  height: 100vh;
  background-size: cover;
}

.floodplain-title-div {
  position: relative;
  left: 10px;
}
.floodplain-title {
  position: relative;
  top: 50px;
}

.floodplain-img-div {
  position: relative;
  width: 80%;
  text-align: center;
  margin: auto;
  top: 50px;
}

.floodplain-img-div2 {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  top: 70px;
  left: 0;
  background-color: black;
}

.floodplain-img {
  width: 100%;
  height: auto;
}

.main-text {
  position: relative;
  top: 90px;
  margin: auto;
  width: 80%;
}

.floodplain-li {
  padding-top: 10px;
}

.article-link {
  text-decoration: underline;
  color: black;
}

.article-link:hover {
  color: red;
}

/***********************************************************************************************/
/* =NYU article */
/***********************************************************************************************/
#nyu-section {
  position: relative;
  top: 0%;
  height: 100vh;
  background-size: cover;
}

.nyu-int-map-outer {
  border: 1px solid gray;
  width: 80%;
  position: relative;
  top: 0px;
  left: 0px;
  height: 80px;
  min-width: 390px;
  text-align: center;
  margin: auto;
}

.nyu-int-map-inner {
  position: relative;
  left: 10px;
  top: 10px;
  padding-right: 10px;
  text-align: left;
}

.nyu-int-map-inner > h2, .nyu-int-map-inner > a {
  position: relative;
  font-size: 15px;
  padding: 0;
  text-transform: none;
}

.nyu-int-sub {
  color: gray;
}

.nyu-int-sub:hover {
  color: red;
}

#nyu-mn {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
}

.nyu-art-img-div > figcaption {
  text-align: center;
}

#timeline {
  margin-top: -50px;
}

#prop-summ {
  display: inline-block;
  width: 60%;
  text-align: left;
  float: left;
  margin-right: 50px;
}

#prop-summ > img {
  max-height: 700px;
}

#ranking {
  position: relative;
  top: 80px;
}

#cd-panels {
  position: relative;
  top: 80px;
  background-color: black;
}

#nyu-old {
  width: 65%;
  margin: auto;
  text-align: center;
}

#nyu-old2 {
  position: relative;
  width: 40%;
  max-height: 480;
  text-align: left;
  float: left;
  margin-right: 50px;
}

#prop-ownership {
  position: relative;
  top: 100px;
}

.area1 {
  position: relative;
  top: 80px;
}

#sales {
  width: 70%;
  float: left;
  margin-right: 50px;
  top: -10px;
}

#taxes {
  width: 70%;
  text-align: center;
  margin: auto;
}

/***********************************************************************************************/
/* =Maps section */
/***********************************************************************************************/
#maps-section {
  position: relative;
  top: 0px;
  height: 100vh;
  background-size: cover;
}

.ul-maps {
  position: relative;
  top: 20px;
}

.li-maps {
  position: relative;
  z-index: 10;
  list-style-type: none;
  padding-top: 40px;
  max-width: 1000px;
  height: auto;
  margin-left: -500px;
  left: 50%;
}

.li-maps-2 {
  position: relative;
  top: 30px;
  z-index: 10;
  list-style-type: none;
  padding-top: 20px;
  width: 700px !important;
  height: auto;
  margin-left: -350px;
  left: 50%;
}

#map-3, .maps > figcaption {
  position: relative;
  width: 500px;
  left: 50%;
  margin-left: -250px;
}

#map-5 {
  padding-top: 20px;
}

#prison-header {
  position: relative;
  top: 20px;
}

#prisons, #map-6 {
  position: relative;
  top: -10px;
}

.pvd-maps, .flood-maps {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  width: 1000px;
}

.pvd-maps >* {
  flex: 1 1 330px;
}

.flood-maps >* {
  flex: 1 1 100px;
}

#int-map-link {
  color: black;
}

#int-map-link:hover {
  color: red;
}

/***********************************************************************************************/
/* =Design section */
/***********************************************************************************************/
#design-section {
  position: relative;
  top: 60px;
  background-size: cover;
  height: 100vh;
}

.li-design > h2 {
  position: relative;
  left: 50%;
  max-width: 1000px;
  margin-left: -500px;
}

.ul-design {
  position: relative;
  top: 0px;
}

.li-design {
  position: relative;
  z-index: 10;
  list-style-type: none;
  padding-top: 0px;
  width: 700px !important;
  height: auto;
  margin-left: -350px;
  left: 50%;
}

.li-design-2 {
  position: relative;
  top: 30px;
  z-index: 10;
  list-style-type: none;
  padding-top: 20px;
  width: 1000px !important;
  height: auto;
  margin-left: -500px;
  left: 50%;
}

.journey-mapping-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
  flex-direction: row;
  width: 100%;
}

.journey-mapping-container > * {
  flex: 1 1 100px;
}

.illustrator-art-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
  flex-direction: row;
  width: 100%;
}

.illustrator-art-container > * {
  flex: 1 1 200px;
}

.img-text {
  position:relative;
  left:0px;
  visibility:hidden;
}

.illustrator-art:hover .img-text {
  visibility: visible;
}

.makaranta-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
  flex-direction: row;
  width: 1000px;
}

.makaranta-container > * {
  padding-top: 40px;
  flex: 1 1 130px;
}

/***********************************************************************************************/
/* =Video section */
/***********************************************************************************************/
#video-section {
  position: relative;
  top: 50px;
  background-size: cover;
}

.video > p {
  color: white;
}

.video > p > a {
  color: black;
}

.vimeo-link:hover {
  color: red;
}


.video-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 20px;
  gap: 40px;
  flex-direction: row;
  width: 1000px;
  margin: auto;
}

.video-container > * {
  z-index: 100;
}

/***********************************************************************************************/
/* =POPUP */
/***********************************************************************************************/
#ac-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgb(0,0,0,0.5)
}

#popup {
  width: 40%;
  height: 220px;
  position: relative;
  top: 150px;
  left: 0px;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
  z-index: 10010;
  text-align: center;
}

#popup-text {
position: relative;
color: white;
width: 100%;
height: auto;
padding-left: 5%;
padding-top: 5%;
padding-right: 5%;
padding-bottom: 5%;
text-align: left;
font-size: 1.5vw;
background: rgb(0,0,0);
}

#popup-text > a {
color: white;
text-decoration: underline;
font-size: 1.5vw;
}

#popup-text > a:hover {
color: red;
}

/***********************************************************************************************/
/* =IMAGE ANIMATION */
/***********************************************************************************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-height: 100%;
  overflow: auto;
  vertical-align: middle;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1) translateY(-50%)}
    to {-webkit-transform:scale(2) translateY(-50%)}
}

@keyframes zoom {
    from {transform:scale(0.4) translateY(-50%)}
    to {transform:scale(1) translateY(-50%)}
}

@-webkit-keyframes zoom-out {
    from {transform:scale(1) translateY(-50%)}
    to {transform:scale(0.4) translateY(-50%)}
}

@keyframes zoom-out {
    from {transform:scale(1) translateY(-50%)}
    to {transform:scale(0) translateY(-50%)}
}

/* The close Button */
.close, .close2 {
    position: absolute;
    top: 5px;
    right: 35px;
    color: #f1f1f1;
    font-size: 100px;
    font-weight: bold;
    transition: 0.3s;
}

.close2 {
  top: 20px;
}

.close:hover,
.close2:hover,
.close:focus,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/***********************************************************************************************/
/* =Landing page*/
/***********************************************************************************************/

.landing-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing-hero {
  background: white;
  background-size: cover;
}

.landing-herov2 {
  background: #7b7b7b;
  background-size: cover;
}

/***********************************************************************************************/
/* =Footer */
/***********************************************************************************************/

#footer-section {
  padding: 80px 0;
  background: #F7F7F7;
  border-top: 1px solid #EEEEEE;
}

ul.footer-social-links {
  list-style-type: none;
  padding: 0;
}

ul.footer-social-links li {
  display: inline-block;
  margin-left: 30px;
}

ul.footer-social-links li:first-child {
  margin: 0;
}

ul.footer-social-links li a {
  font-size: 15px;
  color: #4F4F4F;
  display: block;
  text-transform: uppercase;
}

ul.footer-social-links li a:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  height: 1px;
  background: #fe8869;
  opacity: 0;
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

ul.footer-social-links li a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

p.copyright {
  padding-top: 40px;
}

/***********************************************************************************************/
/* =Back to top */
/***********************************************************************************************/

@media screen and (max-width: 980px) {

  #header-text, #top-title {
    font-size: 22px;
    left: 0px;
    top: -5px;
    margin: 0;
    text-align: left;
    line-height: 22px;
    padding: 0;
    margin-left: 4px;
  }

  .nav-title {
    height: 70px;
  }

  p, a {
    font-size: 12px;
  }

  .nav > li > a {
    font-size: 8px;
  }

  .navbar-nav {
    top: 26px;
    left: -4px;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .ul-research {
    top: 0px;
  }

  #maps-section {
    top: 0px;
  }

  .ul-maps {
    top: -20px;
  }

  #design-section {
    top: 20px;
  }

  #about-section {
    top: -10px;
  }

  #hero-section {
    top: 0px;
  }

  .bio {
    top: 10px;
  }

  #video-section {
    top: 20px;
  }

  #contact-section {
    top: 30px;
  }

  .contact-container {
    margin-left: -100px;
  }
}

@media screen and (max-width: 750px) {
  #header-text, #top-title {
    width: 100%;
    font-size: 16px;
    left: 1%;
    margin: 0;
    text-align: left;
    line-height: 10%;
    padding: 0;
  }

  .nav-title {
    height: 50px;
  }

  .navbar-default {
    height: 145px;
    width: 78px;
    top: 50px;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
  }

  .navbar-nav {
    top: 50px;
    margin-left: 10px;
  }

  .nav > li > a {
    padding: 0;
    color: white !important;
    z-index: 1000;
  }

  .nav > li > a:hover {
    color: red !important;
  }
}
